-
    var socials = {
    "vk": "//vk.com",
    "github": "//github.com",
    "in": "//linkedin.com"
    }

-
    var skills = [
    ['Frontend', [['HTML5', 30], ['CSS3', 50], ['JavaScript & jQuery', 70]]],
    ['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js & npm', 70], ['Mongo.db', 70]]],
    ['WorkFlow', [['Git', 30], ['Gulp', 50], ['Bower', 70]]],
    ]

-
    var contacts = [
    ['skype', 'techniker357', 'skype:techniker357'],
    ['envelope', 'techniker357@gmail.com', 'mailto:techniker357@gmail.com'],
    ['phone', '+7 921 640 42 67', 'tel:+79216404267'],
    ['map_marker', 'Гатчина, ул. Рощинская, д.18А', '']
    ]

-
    var menuItems = [
    ['works.html', 'Мои работы'],
    ['about.html', 'Обо мне'],
    ['blog.html', 'Блог'],
    ['./', 'Авторизация']
    ]